@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* body {
   background: #ddd;
} */

.container {
   max-width: 90%;
   margin: auto;
 }

.flex1 {
   display: flex;
   justify-content: space-between;
}

.head {
   height: 10vh;
   line-height: 10vh;
}

.head i {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background: #faf3e7;
   text-align: center;
   color: #cc8c18;
   transition: all 0.4s ease;
}

.head i:hover {
   transform: translateY(3px);
   cursor: pointer;
}

.logo {
   display: flex; 
}

.logo img {
   margin: 15px 10px;
   border-radius: 10%;
}

.logo h1 {
   font-size: 2rem;
   letter-spacing: 3px;
   font-weight: 600;
   text-shadow: 2px 2px 2px #ddd;
   /* color: #cc8c18; */
}

.logo span {
   color: #CC8C18;
   text-shadow: 2px 2px 2px #000;
}

header {
   background: #CC8C18;
   padding: 15px 0 15px 0;
   color: white;
 }

 .navbar {
   display: flex;
   align-items: center;
 }

 .hamburger {
   display: none;
 }
 
 .bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   transition: all 0.5s ease-in-out;
   background: white;
 }

 .nav-menu {
   display: flex;
   /* flex-basis: 65%; */
   justify-content: space-between;
   align-items: center;
 }

 header ul {
   padding: 0 20px 0 0;
 }

 header li {
   margin-right: 30px;
 }

 header span {
   margin-top: 10px;
   color: #ECE3D2;
 }

 header ul li a {
   font-size: 15px;
   color: white;
   text-transform: uppercase;
   font-weight: 500;
   transition: 0.5s;
 }

 header ul li a:hover {
   color: #000;
 }
 
 header .head_contact {
   position: relative;
 }

 header .head_contact i {
  position: absolute;
  top: -29px;
  left: -70%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: white;
  color: #CC8C18;
  border-radius: 50%;
  transform: rotate(0deg);
  border: 5px solid #ECE3D2;
  font-size: 25px;  
 }

 header .sign {
  display: flex;
  align-items: center;
  margin-right: 10px;
 }

 header .sign .start a{
  margin-left: 40px;
  color: #CC8C18;
  background: #ECE3D2;
  padding: 10px 16px;
  border-radius: 8px;
  transition: all 0.45s ease-in-out;
 }

 header .sign i {
   color: #ECE3D2;
   /* position: absolute; */
   /* bottom: 10px; */
   left: 10px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 1.5rem;
   margin-right: 10%;
   background-color: transparent;
   border-radius: 50%;
   border: 2px solid #ECE3D2;
   height: 45px;
   width: 45px;
 }

 header .sticky_logo {
   display: none;
 }

 header.sticky .sticky_logo {
   display: block;
   width: 50px;
   height: 50px;
   margin-top: -10px;
 }

 header.sticky {
   z-index: 9999;
   position: fixed;
   width: 100%;
   background: #313538;
   transition: 0.5s;
   height: 12vh;
   transition: 0.5s;
   top: 0;
   padding: 30px 0 0 0;
 }

 header.sticky ul li a {
   color: white;
 }

 @media only screen and (max-width:768px) {

   /*------------head------------*/
   .header .head_contact,
   .logo {
     display: none;
   }
 
   /*------------head------------*/
   header.sticky {
     height: 8vh;
   }
 
   header.sticky .nav-menu {
     background: #313538;
   }
 
   .navbar {
     height: 5vh;
     justify-content: space-between;
   }
 
   .nav-menu {
     position: fixed;
     left: -100%;
     top: 11rem;
     flex-direction: column;
     background: #CC8C18;
     width: 100%;
     border-radius: 10px;
     text-align: center;
     transition: 0.3s;
     z-index: 99;
   }
 
   header.sticky .nav-menu {
     top: 5rem;
   }
 
   header ul li a {
     color: white;
   }
 
   .nav-menu.active {
     left: 0;
   }
 
   header li {
     margin: 2.5rem 0;
   }
 
   .hamburger {
     display: block;
     cursor: pointer;
   }
 
   .hamburger.active .bar:nth-child(2) {
     opacity: 0;
   }
 
   .hamburger.active .bar:nth-child(1) {
     transform: translateY(8px) rotate(45deg);
   }
 
   .hamburger.active .bar:nth-child(3) {
     transform: translateY(-8px) rotate(-45deg);
   }
 }