@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
}

/* body {
   background: #ddd;
} */

.container {
   max-width: 90%;
   margin: auto;
 }

.flex1 {
   display: flex;
   justify-content: space-between;
}

.head {
   height: 10vh;
   line-height: 10vh;
}

.head i {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   background: #faf3e7;
   text-align: center;
   color: #cc8c18;
   transition: all 0.4s ease;
}

.head i:hover {
   transform: translateY(3px);
   cursor: pointer;
}

.logo {
   display: flex; 
}

.logo img {
   margin: 15px 10px;
   border-radius: 10%;
}

.logo h1 {
   font-size: 2rem;
   letter-spacing: 3px;
   font-weight: 600;
   text-shadow: 2px 2px 2px #ddd;
   /* color: #cc8c18; */
}

.logo span {
   color: #CC8C18;
   text-shadow: 2px 2px 2px #000;
}

header {
   background: #CC8C18;
   padding: 15px 0 15px 0;
   color: white;
   border-bottom: 1px solid transparent;
  transition: all .45s ease;
 }

 .navbar {
   display: flex;
   align-items: center;
 }

 .hamburger {
   display: none;
 }
 
 .bar {
   display: block;
   width: 25px;
   height: 3px;
   margin: 5px auto;
   transition: all 0.5s ease-in-out;
   background: white;
 }

 .nav-menu {
   display: flex;
   /* flex-basis: 65%; */
   justify-content: space-between;
   align-items: center;
 }

 header ul {
   padding: 0 20px 0 0;
 }

 header li {
   margin-right: 30px;
 }

 header span {
   margin-top: 10px;
   color: #ECE3D2;
 }

 header ul li a {
   font-size: 15px;
   color: white;
   text-transform: uppercase;
   font-weight: 500;
   transition: 0.5s;
 }

 header ul li a:hover {
   color: #000;
 }
 
 header .head_contact {
   position: relative;
 }

 header .head_contact i {
  position: absolute;
  top: -29px;
  left: -70%;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  background: white;
  color: #CC8C18;
  border-radius: 50%;
  transform: rotate(0deg);
  border: 5px solid #ECE3D2;
  font-size: 25px;  
 }

 header .sign {
  display: flex;
  align-items: center;
  margin-right: 10px;
 }

 header .sign .start a{
  margin-left: 40px;
  color: #CC8C18;
  background: #fff;
  padding: 10px 16px;
  border-radius: 8px;
  transition: all 0.45s ease-in-out;
 }

 header .sign i {
   color: #CC8C18;
   /* position: absolute; */
   /* bottom: 10px; */
   left: 10px;
   display: inline-flex;
   align-items: center;
   justify-content: center;
   font-size: 1.5rem;
   margin-right: 10%;
   background-color: #fff;
   border-radius: 50%;
   border: 4px solid #ECE3D2;
   height: 45px;
   width: 45px;
 }

 header .sticky_logo {
   display: none;
 }

 header.sticky .sticky_logo {
   display: block;
   width: 50px;
   height: 50px;
   margin-top: -10px;
 }

 header.sticky {
   z-index: 9999;
   position: fixed;
   width: 100%;
   background: #313538;
   transition: 0.5s;
   height: 12vh;
   transition: 0.5s;
   top: 0;
   padding: 30px 0 0 0;
   border-bottom: 1px solid #ffffff1a;
 }

 header.sticky ul li a {
   color: white;
 }

 @media only screen and (max-width:768px) {

   /*------------head------------*/
   .header .head_contact,
   .logo {
     display: none;
   }
 
   /*------------head------------*/
   header.sticky {
     height: 8vh;
     border-bottom: 1px solid #ddd;
    transition: all 0.45s ease;
   }
 
   header.sticky .nav-menu {
     background: #313538;
     align-items: center;
   }
 
   .navbar {
     height: 5vh;
     justify-content: space-between;
   }
 
   .nav-menu {
     position: fixed;
     left: -100%;
     top: 11rem;
     flex-direction: column;
     background: #CC8C18;
     width: 100%;
     border-radius: 10px;
     text-align: center;
     transition: 0.3s;
     z-index: 99;
   }
 
   header.sticky .nav-menu {
     top: 5rem;
   }
 
   header ul li a {
     color: white;
   }
 
   .nav-menu.active {
     left: 0;
   }
 
   header li {
     margin: 2.5rem 0;
   }

   header.sticky  .sign i, 
   header.sticky .sign .start a{
    display: none;
   } 
   
   .hamburger {
     display: block;
     cursor: pointer;
   }
   
   header.sticky .hamburger {
      position: absolute;
      right: 5%;
      top: 35%;
   }

   header.sticky .logo h1 {
    height: 15px;
    align-items: center;
   }

   .hamburger.active .bar:nth-child(2) {
     opacity: 0;
   }
 
   .hamburger.active .bar:nth-child(1) {
     transform: translateY(8px) rotate(45deg);
   }
 
   .hamburger.active .bar:nth-child(3) {
     transform: translateY(-8px) rotate(-45deg);
   }
 }

 /*------------home------------*/
.grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 30px;
}

.home {
  background-image: url(./home.png);
  height: 100vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.home h1 {
  font-family: 'Great Vibes', cursive;
  font-size: 150px;
  color: #ddd;
  padding-top: 10%;
  letter-spacing: 4px;
  text-shadow: 5px 5px 5px #313538;
}

.home p {
  color: white;
  letter-spacing: 4px;
  text-shadow: 2px 2px 2px #313538;
}

.home .content {
  text-align: left;
  margin-top: 7%;
}

.home .box {
  background: #fff;
  padding: 35px;
  border-radius: 8px;
  box-shadow: 4px 4px 4px #313538;
}

.home input {
  margin-top: 10px;
  border-radius: 2px;
  /* border: 1px solid #ddd; */
  border: none;
  outline: none;
  box-shadow: 2px 2px 4px #313538;
}

button {
  background: #CC8C18;
  color: #fff;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 30px;
  box-shadow: 4px 4px 4px #313538;
}

button i {
  margin-left: 20px;
  font-size: 25px;
  cursor: pointer;
}

button span {
  margin-top: 5px;
}

/* about */
.about {
  position: relative;
  padding-bottom: 70px;
  background: #313538;
}

.heading {
  text-align: center;
}

.top {
  margin-top: 80px;
  display: flex;
}

.heading h5 {
  font-weight: 400;
  letter-spacing: 5px;
  color: #CC8C18;
  padding-top: 20px;
}

.heading h2 {
  color: #a4a4a4;
  font-size: 40px;
  font-weight: bold;
  margin: 10px 0 20px;
  letter-spacing: 3px;
}

.left, .right {
  width: 50%;
}

h3 {
  font-size: 35px;
  color: #a4a4a4;
  margin-bottom: 20px;
  letter-spacing: 3px;
}

.about .left {
  padding: 20px;
}

p {
  line-height: 30px;
  color: #a4a4a4;
  margin-bottom: 20px;
  font-size: 15px;
}

.about .right {
  position: relative;
  z-index: 1;
}

.about .right::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  background: #CC8C18;
  width: 92%;
  height: 65vh;
  z-index: -1;
  margin: 30px;
  box-shadow: 3px 3px 3px #000;
}

/* wrapper */

/* .wrapper {
  background-image: url(./w.jpg);
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.wrapper .container {
  max-width: 50%;
  margin: auto;
}

.wrapper .item {
  background: #fff;
  padding: 50px;
  margin-top: 15%;
  border: 30px solid #F3F3F3;
  border-bottom: none;
}

.wrapper .heading {
  text-align: left;
}

.owl-carousel .owl-theme {

} */

/* wrapper */

.wrapper {
  position: relative;
  text-align: center;
}

.wrapper .grid {
  grid-template-columns: repeat(4, 1fr);
}

.wrapper .box {
  box-shadow: 2px 2px 40px 3px rgb(0 0 0 / 5%);
  padding: 20px;
  transition: 0.5s;
}

.wrapper .box > i {
  margin: 10px 0 15px;
  color: #CC8C18;
  font-size: 30px;
}

.wrapper h3 {
  font-size: 20px;
}

.wrapper .arr i {
  padding: 10px;
  background: #F5E8D1;
  color: #CC8C18;
  border-radius: 50%;
}

.wrapper .box:hover {
  background: #CC8C18;
  cursor: pointer;
}

.wrapper .box:hover .arr i{
  background-color: #fff;
}

.wrapper .box:hover p,
.wrapper .box:hover h3,
.wrapper .box:hover > i {
  color: white;
}

/* room */

.room {
  /* width: 90%; */
  margin-bottom: 50px;
  position: relative;
  text-align: center;
}

.mtop1 {
  margin: 80px;
  display: flex;
  justify-content: space-between;
}

.mtop1 h4 {
  color: #24416B;
}

.grid2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

.room img {
  width: 100%;
  height: 100%;
  margin-left: 20px;
}

/* offer */
.offer {
  background-color: #313538;
  padding-bottom: 30px;
}

.offer img {
  width: 100%;
  height: 100%;
}

.offer .flex3 {
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.offer .right {
  padding: 20px;
  margin: 20px;
  box-shadow: 0 0 20px 3px rgb(0 0 0 / 5%);
}

.offer .content h4 {
  font-size: 20px;
  letter-spacing: 3px;
  color: #627795;
  font-family: serif;
}

.offer .rate i {
  font-size: 13px;
  color: #CC8C18;
  margin: 10px 10px 20px 0;
}

.offer .content h5 {
  color: #627795;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.offer .box {
  transition: 0.5s;
}

.offer .box:hover {
  transform: translateY(-10px);
}
/* 
area */
.area {
  position: relative;
  padding-bottom: 70px;
}

.area img {
  margin: 0px 0px 20px 80px;
}

.area .flex4 {
  display: flex;
}

.area ul li {
  display: inline-block;
  font-weight: 500;
  color: #5c646e;
  margin-right: 20px;
  margin-bottom: 20px;
}

.area .left {
  position: relative;
}

.area .left::after {
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 85%;
  height: 92%;
  margin: 30px;
  background: #CC8C18;
  z-index: -1;
  box-shadow: 1px 1px 1px #313538;
}

/* customer */

.customer {
  background: #313538;
}

.customer .mtop {
  display: flex;
  align-items: center;
  flex-basis: 30%;
  margin: auto;
  padding: 50px;
  text-align: center;
}

.customer i {
  color: #CC8C18;
  font-size: 13px;
}

.customer .item h3 {
  font-size: 20px;
  color: #24416B;
}

.customer img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}

.customer .item {
  box-shadow: 3px 3px 3px #5c646e;
  padding: 20px;
}

.customer span {
  color: #627795;
}

/* blog */

.blog .grid {
  margin: 50px auto;
  grid-template-columns: repeat(3, 1fr);
}

.blog .box {
  border: 1px solid #24416B;
  transition: 0.5s;
}

.blog .box:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

.blog .text {
  padding: 20px;
}

.blog img {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

/* .blog span {
  position: absolute;
  top: -3%;
  left: -12%;
  z-index: 1;
  color: #fff;
  background: #CC8C18;
  padding: 20px 50px;
  transform: rotate(-45deg);
  font-size: 14px;
} */

.blog .box h3 {
  font-size: 20px;
  color: #24416B;
}

.blog .box i {
  margin-right: 10px;
  color: #CC8C18;
}

.blog .box i label {
  color: black;
}

.blog .box h3 {
  margin: 15px 0;
}

.blog a {
  color: #CC8C18;
  font-size: 15px;
}

/* map */
.map iframe {
  width: 100%;
  filter: invert(100%);
}