@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');


* {
   margin: 0;
   padding: 0;
   font-family: 'poppins', sans-serif;
   box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none;
   list-style: none;
   scroll-behavior: smooth;
   text-transform: capitalize;
}

body {
   height: 100vh;
   width: 100vw;
   font-weight: 400;
   overflow-x: hidden;
   padding: 20px;
   background: #faf3e7;
}

.view {
   position: relative;
   width: 400px;
   padding: 50px;
   margin: 20px auto;
   background: #faf3e7;
   box-shadow: 13px 13px 20px #ddd,
                -13px -13px 25px #f5f2f2;
   transition: all 0.5s ease-in;
}

.view .name h1 {
   text-align: center;
   font-weight: 700;
   padding-top: 16px;
   letter-spacing: 2px;
   color: #24416B;
}

form {
   width: 100%;
   margin-top: 40px;
}

ul li {
   margin-bottom: 30px;
   text-align: center;
   padding: 10px;
   box-shadow: inset 8px 8px 6px #ddd,
               inset -8px -8px 6px #fff;
}

ul li a {
   font-size: 1.1rem;
   color: #24416B;
   position: relative;
}

.buttons {
   /* background: #24416B; */
   box-shadow:none;
   display: block;
   width: 100%;
   cursor: pointer;
   border-radius: 0.5rem;
   font-size: 1.7rem;
   padding: 0.5rem 2rem;
   background: #27ae60;
}

.buttons:hover,
.buttons:last-child:hover {
   background: #24416B;
}

.buttons:last-child {
   background: crimson;
}

.buttons .btn1,
.buttons .btn2 {
   /* background: #27ae60; */
   color: #fff;
}
